:root {
    --game: gray;
    --canvas: black;
    --controls: black;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 30vh;
    bottom: 30dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--game);
}

#canvas {
    background-color: var(--canvas);
    width: 90%;
    aspect-ratio: 1;
}

#controls {
    position: fixed;
    bottom: 0;
    top: 70vh;
    top: 70dvh;
    background-color: var(--controls);
    width: 100%;
    display: grid;
    place-items: center;
}

#controls > div {
    aspect-ratio: 1;
    height: 100%;
    display: grid;
    gap: 1rem;
    grid-template-areas: 
        ". . . ."
        ". up up ."
        "left left right right"
        ". down down ."
        ". . . .";
}

#btn1 {
    grid-area: up;
}

#btn2 {
    grid-area: left;
}

#btn3 {
    grid-area: right;
}

#btn4 {
    grid-area: down;
}






@media screen and (min-width: 768px) {
    body {
        background-color: blue;
    }

    #game {
        bottom: 0;
    }
    
    #controls {
        display: none;
    }

}